/* --black: #000000ff;
--oxford-blue: #14213dff;
--cinereous: #8a716aff;
--silver: #c2b8b2ff;
--honolulu-blue: #197bbdff; */

body {
  background-image: linear-gradient(45deg, #14213dff, #197bbdff, #360559);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: black;
}

#banner h1 {
  flex-grow: 1;
  text-align: center;
  color: whitesmoke;
  padding: 0 20px;
}

.extras {
  display: flex;
  flex: 1;
  justify-content: center;
}

#userName {
  padding-left: 10px;
  color: whitesmoke;
}

.extras.left {
  justify-content: flex-start;
  left: 20px;
}

.extras.right {
  justify-content: flex-end;
  right: 20px;
}

#bannerPfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#bannerPfp:hover {
  transform: scale(1.1);
}

#mainContainer {
  background-color: whitesmoke;
  width: 60vw;
  height: auto;
  margin: 5vh auto 0 auto;
  padding: 20px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 8px 8px 10px rgb(0 0 0 / 50%);
}

.error p {
  margin-top: 0;
  color: red;
}

.delete {
  background-color: #e5d8d8;
}

.delete:hover {
  background-color: #e1a2a2;
}

.modal {
  background-color: whitesmoke;
  top: 50vh;
}

.modal button {
  width: 100%;
  margin-top: 0.2rem;
}

#updateUserForm {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 12px;
}

#updateUserForm h2 {
  text-align: center;
}

#updateUserForm button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

#profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
}

.pfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pfp label,
.pfp input {
  text-align: center;
}

.profile-inputs input {
  border: 2px solid white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropDown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropDown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDown-content a:hover {background-color: #9b9999}

.dropDown:hover .dropDown-content {
  display: block;
}
