body {
  background-image: linear-gradient(45deg, #14213dff, #197bbdff, #360559);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: black;
}

#banner h1 {
  flex-grow: 1;
  text-align: center;
  color: whitesmoke;
  padding: 0 20px;
}

.extras {
  display: flex;
  flex: 1;
  justify-content: center;
}

#userName {
  padding-left: 10px;
  color: whitesmoke;
}

.extras.left {
  justify-content: flex-start;
  left: 20px;
}

.extras.right {
  justify-content: flex-end;
  right: 20px;
}

#bannerPfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#bannerPfp:hover {
  transform: scale(1.1);
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#map {
  height: 100%;
  width: 75%;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%)
}

#buttons {
  margin-bottom: 1em;
}

#banner {
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  cursor: pointer;
}

#buttons p {
  margin-bottom: 10px;
}

#dist-container {
  padding-top: 5px;
}

#distanceError p {
  padding-top: 4px;
  color: red;
  margin: 0;
}

.modal {
  height: 70vh;
  max-width: 75%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow-y: auto;
  z-index: 1000;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropDown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropDown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDown-content a:hover {background-color: #9b9999}

.dropDown:hover .dropDown-content {
  display: block;
}
